In [23]:
import pandas as pd

In [24]:
data = pd.read_csv('drug_samples.csv', sep=',')

In [25]:
data.head()

   Age  Sex  BP  Cholesterol  Na_to_K  Drug
0   45    0   2            2    2.556     3
1   25    0   1            3    2.692     3
2   20    1   2            3    1.323     3
3   22    1   1            2    3.059     3
4   20    0   1            2    3.687     3

In [26]:
data.shape

(10000, 6)

In [27]:
# split the dataset into 80% for train and 20% for test
train = data.sample(frac=0.8, random_state=42)
test = data.drop(train.index)

# save the train and test dataset
train.to_csv('train.csv', index=False)
test.to_csv('test.csv', index=False)

In [28]:
10000 * 0.8, 10000 * 0.2

(8000.0, 2000.0)